<!DOCTYPE html>
<html>
<head>
	<title>AJAX Example</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>
<div class="container">
	<br><br><br><br>
	<form class="form-inline" id="formInfoGath">
	  	<div class="form-group">
		    <label class="sr-only" for="rangoIPInput">IP</label>
		    <input type="text" class="form-control" id="rangoIPInput" placeholder="192.168.1.0/24">
	  	</div>
	  	<div class="form-group">
		    <label class="sr-only" for="parametros">IP</label>
		    <input type="text" class="form-control" id="parametros" placeholder="-sV -T4">
	  	</div>
		<br>
		<input type="radio" name="metodo" value="all" id="method_ALL" checked> ALL <br>
		<input type="radio" name="metodo" value="enumeracion_rapida" id="method_enumeracion_rapida" checked> enumeracion_rapida <br>
		<input type="radio" name="metodo" value="escanear_host_completo" id="method_escanear_host_completo"> escanear_host_completo <br>
		<input type="radio" name="metodo" value="escanear_host_con_parametros" id="method_escanear_host_con_parametros"> escanear_host_con_parametros <br>
		<input type="radio" name="metodo" value="escanear_host_name" id="method_escanear_host_name"> escanear_host_name <br>
		<input type="radio" name="metodo" value="escanear_host_os" id="method_escanear_host_os"> escanear_host_os <br>
		<input type="radio" name="metodo" value="escanear_host_tcp" id="method_escanear_host_tcp"> escanear_host_tcp <br>
		<input type="radio" name="metodo" value="escanear_host_udp" id="method_escanear_host_udp"> escanear_host_udp <br>
		<input type="radio" name="metodo" value="escanear_todo" id="method_escanear_todo"> escanear_todo<br>
	  	<button type="submit" class="btn btn-default">Escanear</button>
	</form>
	<br>
	<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
	<div id="infoAlert" class="alert alert-info" role="alert" style="display:none;"></div>
</div>
</body>
</html>