<!DOCTYPE html>
<html>
<head>
	<title>AJAX Example</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>
<div class="container">
	<br>
	<form class="form-inline" id="formInfoGath">
	  	<div class="form-group">
		    <label for="rangoIPInput">IP</label><br>
		    <input type="text" class="form-control" id="rangoIPInput" placeholder="192.168.1.0/24">
	  	</div>
	  	<div class="form-group">
		    <label for="parametros">Parametros</label><br>
		    <input type="text" class="form-control" id="parametros" placeholder="-sV -T4">
	  	</div>
	  	<div class="form-group">
		    <label for="puerto">Puerto</label><br>
		    <input type="text" class="form-control" id="puerto" placeholder="22">
	  	</div>
		<br><br>
		<label for="metodo">Selecciona una funcion</label><br>
		<select class="form-control" id="metodo">
			<option>ALL</option>
			<option selected>enumeracion_rapida</option>
			<option>escanear_host_completo</option>
			<option>escanear_host_con_parametros</option>
			<option>escanear_host_name</option>
			<option>escanear_host_os</option>
			<option>escanear_host_tcp</option>
			<option>escanear_host_udp</option>
			<option>escanear_host_tcp_banner_grabbing</option>
			<option>escanear_todo</option>
		</select><br><br>
	  	<button type="submit" class="btn btn-default">Escanear</button>
	</form>
	<br>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
	<div id="infoAlert" class="alert alert-info" role="alert" style="display:none;"></div>
	<div id="successAlert1" class="alert alert-success" role="alert" style="display:none;"></div>
</div>
</body>
</html>