<!DOCTYPE html>
<html>
<head>
	<title>AJAX Example</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spur.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/chart-js-config.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>
<div class="container">
	<main class="dash-content">
		<div class="container-fluid">
			<h1 class="dash-title">Forms</h1>
			<div>
				<div class="col-xl-12">
					<div class="card spur-card">
						<div class="card-header">
							<div class="spur-card-icon">
								<i class="fas fa-chart-bar"></i>
							</div>
							<div class="spur-card-title"> Escanear </div>
						</div>
						<div class="card-body ">
                            <form class="form-inline" id="formInfoGath">
                                {% if interfaces %}
                                    <script>
                                        {% for inter in interfaces %}
                                            listaInterfaces.push('{{inter}}')
                                        {% endfor %}
                                    </script>
                                    <div class="form-group col-sm">
                                        <label for="interfaz">Interfaces</label><br>
                                        <select class="form-control mx-sm-3 mb-2" id="interfaz">
                                            <option></option>
                                            {% for inter in interfaces %}
                                                <option>{{inter}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                <div class="form-group col-sm">
                                    <label for="dispositivo">Dispositivos</label><br>
                                    <select class="form-control mx-sm-3 mb-2" id="dispositivo"></select>
                                </div>
                                <div class="form-group col-sm">
                                    <label for="rangoIPInput">IP</label><br>
                                    <input type="text" class="form-control mx-sm-3 mb-2" id="rangoIPInput" placeholder="192.168.1.0/24">
                                </div>
                                <div class="form-group col-sm">
                                    <label for="parametros">Parametros</label><br>
                                    <input type="text" class="form-control mx-sm-3 mb-2" id="parametros" placeholder="-sV -T4">
                                </div>
                                <div class="form-group col-sm">
                                    <label for="puerto">Puerto</label><br>
                                    <input type="text" class="form-control mx-sm-3 mb-2" id="puerto" placeholder="22">
                                </div>
                                <div class="form-group col-sm">
                                    <label for="metodo">Selecciona una funcion</label><br>
                                    <select class="form-control mx-sm-3 mb-2" id="metodo">
                                        <option>all</option>
                                        <option selected>enumeracion_rapida</option>
                                        <option>escanear_host_completo</option>
                                        <option>escanear_host_con_parametros</option>
                                        <option>escanear_host_name</option>
                                        <option>escanear_host_os</option>
                                        <option>escanear_host_tcp</option>
                                        <option>escanear_host_udp</option>
                                        <option>escanear_host_tcp_banner_grabbing</option>
                                        <option>escanear_todo</option>
                                    </select>
                                </div>
                                <br><br>
                                <button type="submit" class="btn btn-primary mb-2">Escanear</button>
                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<br>
	
	<br>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
	<div id="infoAlert" class="alert alert-info" role="alert" style="display:none;"></div>
	<div id="successAlert1" class="alert alert-success" role="alert" style="display:none;"></div>
	<br>
	<div class="dash">
        <div class="dash-nav dash-nav-dark">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="index.html" class="spur-logo"><i class="fas fa-bolt"></i> <span>Panel</span></a>
            </header>
            <nav class="dash-nav-list">
                <a href="index.html" class="dash-nav-item">
                    <i class="fas fa-home"></i> Inicio </a>
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-chart-bar"></i> Charts </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="chartjs.html" class="dash-nav-dropdown-item">Chart.js</a>
                    </div>
                </div>
                <div class="dash-nav-dropdown ">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-cube"></i> Components </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="cards.html" class="dash-nav-dropdown-item">Cards</a>
                        <a href="forms.html" class="dash-nav-dropdown-item">Forms</a>
                        <div class="dash-nav-dropdown ">
                            <a href="#" class="dash-nav-dropdown-item dash-nav-dropdown-toggle">Icons</a>
                            <div class="dash-nav-dropdown-menu">
                                <a href="icons.html" class="dash-nav-dropdown-item">Solid Icons</a>
                                <a href="icons.html#regular-icons" class="dash-nav-dropdown-item">Regular Icons</a>
                                <a href="icons.html#brand-icons" class="dash-nav-dropdown-item">Brand Icons</a>
                            </div>
                        </div>
                        <a href="stats.html" class="dash-nav-dropdown-item">Stats</a>
                        <a href="tables.html" class="dash-nav-dropdown-item">Tables</a>
                        <a href="typography.html" class="dash-nav-dropdown-item">Typography</a>
                        <a href="userinterface.html" class="dash-nav-dropdown-item">User Interface</a>
                    </div>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-file"></i> Layouts </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="blank.html" class="dash-nav-dropdown-item">Blank</a>
                        <a href="content.html" class="dash-nav-dropdown-item">Content</a>
                        <a href="login.html" class="dash-nav-dropdown-item">Log in</a>
                        <a href="signup.html" class="dash-nav-dropdown-item">Sign up</a>
                    </div>
                </div>
                <div class="dash-nav-dropdown">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-info"></i> About </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="https://github.com/ConnorXploit/AutoMetasploit" target="_blank" class="dash-nav-dropdown-item">GitHub</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="#!" class="searchbox-toggle">
                    <i class="fas fa-search"></i>
                </a>
                <form class="searchbox" action="#!">
                    <a href="#!" class="searchbox-toggle"> <i class="fas fa-arrow-left"></i> </a>
                    <button type="submit" class="searchbox-submit"> <i class="fas fa-search"></i> </button>
                    <input type="text" class="searchbox-input" placeholder="type to search">
                </form>
                <div class="tools">
                    <a href="https://github.com/HackerThemes/spur-template" target="_blank" class="tools-item">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#!" class="tools-item">
                        <i class="fas fa-bell"></i>
                        <i class="tools-item-count">4</i>
                    </a>
                    <div class="dropdown tools-item">
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="#!">Profile</a>
                            <a class="dropdown-item" href="login.html">Logout</a>
                        </div>
                    </div>
                </div>
            </header>
            <main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <div class="col-xl-4">
                            <div class="stats stats-primary">
                                <h3 class="stats-title"> Sign ups </h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number">114</div>
                                        <div class="stats-change">
                                            <span class="stats-percentage">+25%</span>
                                            <span class="stats-timeframe">from last month</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-success ">
                                <h3 class="stats-title"> Revenue </h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number">$25,541</div>
                                        <div class="stats-change">
                                            <span class="stats-percentage">+17.5%</span>
                                            <span class="stats-timeframe">from last month</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-danger">
                                <h3 class="stats-title"> Open tickets </h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number">5</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Aqui listar las notificaciones de ajax con los JSON -->
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/spur.js') }}"></script>
</div>
</body>
</html>